@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family:'misakigothic';
    src: url('/fonts/misaki_gothic.ttf') format('truetype');
}

.misaki {
    font-family: 'misakigothic', sans-serif;
}
